<% include ./partials/header.ejs %>

      <h1 class="text-center"><%= title %></h1>
      <p class="text-center">Welcome to <%= title %></p>
      <div class="logo text-center">

        <img src="/images/logo-blue.png" alt="Muskoka discoovery center logo" height="200px" width="auto">

      </div>
      <h2 class="text-center">Pick a profile</h2>
      <div class="text-center" id="calltoaction">
        <a href="/child-login" role="button" class="btn btn-primary">Parents</a>
        <a href="/staff-dashboard"  role="button" class="btn btn-primary">Staff</a>
      </div>



<% include ./partials/footer.ejs %>
